<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false" class="row g-2 col-6">
  <label class="col-md-6">Ask your coach anything:</label>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <input type="text" class="form-control" name="question">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input type="submit" class="btn btn-primary" value="Ask!">
      </div>
    </div>
</form>
